.flex { display: flex }
.flex-auto { flex: 1 }
.items-center { align-items: center }
.justify-center { justify-content: center }
.justify-around { justify-content: space-around }
.justify-between { justify-content: space-between }
.justify-start { justify-content: flex-start }
.justify-end { justify-content: flex-end }

.fixed { position: fixed }
.top { top: 0 }
.bottom { bottom: 0 }
.left { left: 0 }
.right { right: 0 }

.align-center { text-align: center } 
.inline { display: inline-block }
.block { display: block }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}