@font-face {
  font-family: 'Brandon';
  src: url('/wp-content/themes/athenavirtual/dist/fonts/BrandonText-Regular.woff2') format('woff2'),
    url('/wp-content/themes/athenavirtual/dist/fonts/BrandonText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon';
  src: url('/wp-content/themes/athenavirtual/dist/fonts/BrandonGrotesque-Bold.woff2') format('woff2'),
    url('/wp-content/themes/athenavirtual/dist/fonts/BrandonGrotesque-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

