.section.quoteSection {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;

  h2 {
    margin-top: 0;
  }

  .icon {
    display: inline-block;
    width: 10em;
    height: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.section.giveLifeSection,
.section.getTimeSection {
  padding-top: 0;

  .sectionInner {
    position: relative;
    display: flex;
    align-items: center;
  }

  .imageWrapper {
    margin-bottom: 2em;
  }
}

.section.giveLifeSection .sectionInner {
  flex-direction: column;
}

.section.getTimeSection .sectionInner {
  flex-direction: column-reverse;

  .imageWrapper {
    padding: 0 6em;
    img {
      float: right;
    }
  }
}

.section.enquireSection {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media(min-width: 800px) {
  .section.quoteSection,
  .section.enquireSection {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .section.getTimeSection,
  .section.giveLifeSection {
    .sectionInner {
      flex-direction: row;

      .imageWrapper,
      .contentWrapper {
        width: 50%;
      }

      .imageWrapper { margin-bottom: 0 }

      .contentWrapper {
        padding-left: 5em;
        padding-right: 5em;
      }
    }
  }

  .section.giveLifeSection .sectionInner {
    .contentWrapper { padding-left: 8em }
  }

  .section.getTimeSection .sectionInner {
    .imageWrapper { transform: translateX(3rem) }
  }
  .section.giveLifeSection .imageWrapper { transform: translateY(1rem) }
}