.blogListItemWrapper {
  padding: 0.5rem 0;
  border-bottom: 2px solid #C1CED1;

  &:last-child {
    border-bottom: none;
  }
}

.blogListItem {
  display: block;
  padding: 1.5rem;
  cursor: pointer;
  border-radius: 8px;
  position: relative;

  &:hover {
    background: #C1CED1;

    p {
      width: calc(100% - 1.5rem);
    }

    .arrow {
      display: flex;
    }
  }

  .arrow {
    display: none;
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
  }

  h3 { margin-bottom: 0.25em; }

  h5 { font-weight: normal; }

  p {
    @extend .ellipsis;
    margin-bottom: 0;
  }

  p > *:not(:first-child) {
    display: none;
  }
}

.blogPostContent {
  p, h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
  }

  img {
    margin: 1em 0;
  }
}