.enquireFormSection {
  padding: 4rem 2rem;
}

.enquireForm {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 4rem;

  .row {
    display: flex;
    margin-bottom: 2em;
    
    > .field {
      margin-right: 2em;
      &:last-child { margin-right: 0 }
    }
  }
}

@media(min-width: 800px) {
  .enquireFormSection {
    padding: 8rem 4rem;
  }
}
