.heroSection,
.enquireSection,
.featureSection,
.featureSectionReverse,
.featureSectionImage,
.featureSectionContent,
.guaranteeSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.enquireSection,
.heroSection {
  text-align: center;
  flex-direction: column;
}

.enquireSection h3,
.heroSection h3 {
  max-width: 600px;
}

.featureSection,
.featureSectionReverse {
  flex-direction: column;
}

.featureSectionImage {
  padding: 4rem;
}

.guaranteeSectionCard {
  background: white;
  padding: 2rem 4rem;
  max-width: 600px;
  text-align: center;
}

.guaranteeSectionCard p,
.guaranteeSectionCard h4,
.guaranteeSectionCard h5 {
  margin: 1em 0;
}

.guaranteeSectionCard h3 {
  margin: 0;
}

@media(min-width: 800px) {
  .featureSection {
    flex-direction: row;
  }
  .featureSectionReverse {
    flex-direction: row-reverse;
  }
  .featureSectionContent,
  .featureSectionImage {
    width: 50%;
  }
  .featureSectionContentInner {
    max-width: 400;
  }
}