.pricingPlan {
  padding: 3em;
  border-radius: 30px;
  color: white;
  flex: 1;
  margin: 1.5em 0;

  &:first-child { margin-left: 0 }
  &:last-child { margin-right: 0 }

  h2 { margin-bottom: 0 }
  p, h2 { margin-top: 0 }
  p { margin-bottom: 0.5em; }

  .button {
    margin-top: 3em;
  }
}

.quoteSection.processQuoteSection {
  padding-bottom: 3rem;
}

.processSection {
  padding-top: 0 !important;

  .processBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 4em;

    &:first-child { padding-top: 0 }
    &:last-child { margin-bottom: 0 }

    h5 { color: #A25944 }

    .contentWrapper { width: 100% }
    .imageWrapper {
      margin-bottom: 2rem;
      height: 25em;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left;
    }

    &.left {
      flex-direction: column-reverse;
      .imageWrapper {
        background-position: right;
      }
    }
  }
}

.processFourStepIcons {
  height: 9em;
  width: 100%;
  margin-top: 3rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media(min-width: 800px) {
  .processSection {
    .processBlock {
      flex-direction: row;
      padding: 2em 0;
      margin: 0;

      .imageWrapper,
      .contentWrapper { width: 50% }

      .imageWrapper { margin-bottom: 0 }

      &.right {
        flex-direction: row;
        .contentWrapper { padding-left: 5em }
      }

      &.left {
        flex-direction: row;
        .imageWrapper { padding-left: 5em }
      }
    }
  }
  .pricingPlans {
    display: flex;
    align-items: flex-end;

    .pricingPlan {
      margin: 1.5em;
    }
  }
}