.enquireCard {
  display: none;
  background: white;
  padding: 2.5em;
  border-radius: 16px;
  text-align: left;
  font-size: 0.75em;
  width: 30em;
  position: absolute;
  right: 6em;
  top: 50%;
  transform: translateY(-50%);

  .button {
    margin-top: 2em;
  }

  p {
    color: #87939B;
  }

  h3 {
    line-height: 0.5;
  }

  .logo {
    width: 6em;
    margin-bottom: 2.5em;
    display: inline-block;

    img {
      width: 100%;
    }
  }
}

@media(min-width: 800px) {
  .enquireCard {
    display: block;
  }
}