.fourStepSection {
  h2 { text-align: center }

  .step {
    .stepIcon {
      width: 100%;
      height: 5em;
      margin-bottom: 1em;
      margin-right: 0;
      background-size: auto 60%;
      background-position: left bottom;
      background-repeat: no-repeat;
    }
  }

  .cta {
    text-align: center;
    margin-top: 2em;
  }

  .grid {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

@media(min-width: 800px) {
  .fourStepSection {
    .row { display: flex }
    .step {
      display: flex;
      padding: 1em 2em;
      width: 50%;

      .stepIcon {
        width: 10em;
        height: 100%;
        margin-right: 1em;
        margin-bottom: 0;
        background-size: 60%;
        background-position: center;
      }
    }
  }
}