.guaranteeSection {
  text-align: center;
}

.guaranteeCard {
  width: 100%;
  max-width: 40em;
  background: white;
  padding: 3em 5em;

  h2 { margin: 0 }
  h5 {
    color: #A25944;
    margin-bottom: 0.5em;
  }

  p { margin-top: 0.5em }

  > *:first-child { margin-top: 0 }
  > *:last-child { margin-bottom: 0 }
}