.newsletterCard {
  display: none;
  background: #EFEDEB;
  padding: 2em;
  z-index: 100;
  width: 20em;
  position: fixed;
  left: 0;
  bottom: 5.5em;

  input.field {
    color: currentColor;
    margin-bottom: 1em;
    &::placeholder { color: rgba(0,0,0,0.3) }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 0.5em;
  }
}

@media(min-width: 800px) {
  .newsletterCard {
    display: block;
  }
}