.testimonialSection {
  padding-top: 0;
  padding-bottom: 0;

  p, h2, h5 { margin: 0 }

  h5 {
    color: #B29C70;
    margin-bottom: 1em;
  }

  h2 { margin-bottom: 0.5em; }
  p { margin-bottom: 1em; }

  .sectionInner {
    padding-bottom: 2rem;
  }

  .testimonialsContainer {
    padding-top: 2rem;
    border-top: 4px solid white;
  }
}

.testimonial {
  .testimonialImage {
    margin-bottom: 2em;
  }
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 2rem;

  .breadcrumb {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 2px solid #3B455C;
    margin: 0 0.25em;

    &.active {
      background: #3B455C;
    }
  }
}

@media(min-width: 800px) {
  .testimonialSection .sectionInner {
    padding-bottom: 5rem;
  }

  .testimonialSection .testimonialsContainer {
    padding-top: 5rem;
  }

  .testimonial {
    display: flex;
    align-items: center;

    .testimonialImage {
      width: 40%;
      margin-right: 4em;
      margin-bottom: 0;
    }
  }
}