.button {
  background: #3B455C;
  color: white;
  padding: 0.8em 1.6em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 6px;
  white-space: nowrap;
  cursor: pointer;
  border: 0;

  &.large {
    padding: 1em 2em;
    border-radius: 12px;
  }

  &.small {
    font-size: 0.75em;
    padding: 0.5em 1em;
  }

  &.outline {
    padding: 0.6em 1.2em;
    border: 2px solid currentcolor;
    background: none;
  }

  &.white {
    background: white;
    color: #3B455C;
  }

  &:hover {
    transform: scale(1.04);
    transition: transform 0.15s ease;
  }
}

.back-top {
  left: 1rem;
  right: auto !important;
  border-radius: 500px;
}