input[type="text"].field {
  background: #F5F5F4;
  color: #3B455C;
  border: none;
  font-size: 1em;
  width: 100%;
  padding: 1em;
  font-family: inherit;

  &:focus { outline: none }
  &::placeholder {
    color: currentColor;
    opacity: 0.3;
  }

  &.simple {
    background: none;
    color: white;
    padding: 0.5em 0;
    border-bottom: 2px solid currentColor;

    &:focus { outline: none }
    &::placeholder {
      color: currentColor;
      opacity: 0.3;
    }
  }
}

button.button {
  appearance: none;
  font-family: inherit;
  font-size: 1em;
  &:focus { outline: none }
}

select.field {
  appearance: none;
  -webkit-appearance: none;
  padding: 1em;
  width: 100%;
  border: none;
  border-radius: 0;
  font-family: inherit;
  font-size: 1em;
  color: currentColor;

  &:focus {
    outline: none;
  }
}