.footer {
  padding: 4rem;
  position: relative;
  background: #3B455C;
  color: white;

  .logo {
    margin-bottom: 1em;
    font-size: 1.5em;
    display: inline-block;

    img {
      height: 1.25em;
      width: auto;
    }
  }

  .socialIcons {
    margin-left: -10px;
  }

  .social,
  .links {
    margin-top: 2rem;
  }

  .links {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;

    a {
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 0.5em;
    }
  }
}

.footer:after {
  content: '';
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 100%;
  left: 0;
  z-index: -1;
  background: #3B455C;
}

.footerInner {
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
}

@media(min-width: 800px) {
  .footer {
    padding: 5rem 3rem;
  }

  .footerInner {
    display: flex;
    justify-content: space-between;
    align-items: top;
  }

  .footer {
    .newsletter,
    .links,
    .social {
      margin: 0 1rem;

      &:first-child {
        margin-left: 0
      }

      &:last-child {
        margin-right: 0
      }
    }
    .links {
      a {
        text-align: left;
      }
    }
  }
}