@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: "Brandon", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.65;
  color: #3B455C;
  background: #DDE2E3;
  margin: 0;
}

* { box-sizing: border-box }

img {
  display: block;
  width: 100%;
}