header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.8rem;
  background: white;
  font-size: 12px;

  .logo {
    font-size: 1.5em;
    font-weight: 900;
    margin: 0;
 
    img {
      height: 1.25em;
      width: auto;
    }
  }
}

.mainNavigation {
  display: none;

  .navigationList {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navigationItem {
    display: inline-block;
    align-items: center;
    margin: 0 1rem;
    padding: 0.5rem 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;

    a {
      text-decoration: none;
    }

    &.underline:before,
    &.underline:after {
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      width: 0;
    }

    &.underline:before {
      transition: width 0s ease, background .4s ease;
      left: 0;
      right: 0;
      bottom: 6px;
    }

    &.underline:after {
      right: 2.2%;
      bottom: 6px;
      background: currentColor;
      transition: width .4s ease;
    }

    &.underline.active,
    &.underline:hover {
      &:before {
        width: 97.8%;
        background: currentColor;
        transition: width .4s ease;
      }

      &:after {
        width: 97.8%;
        background: 0 0;
        transition: all 0s ease;
      }
    }
  }
}

.mobileNavigation {
  .mobileNavigationIcon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 1.5em;
    cursor: pointer;
    z-index: 10;
  }

  .navigationList {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1em 0;
    transform: translateX(100%);
    background: white;

    &.open {
      transform: translateX(0);
    }

    a {
      padding: 1em 2em;
      display: block;
    }
  }
}

.banner {
  background: #3B455C;
  color: white;
  width: 100%;
  padding: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;

  a {
    margin-bottom: 1em;
    border-bottom: 1px solid white;
  }
}

@media(min-width: 800px) {
  .navigation .logo { margin: 0 1rem }
  .mobileNavigation { display: none }
  .mainNavigation { display: block }
}